<div class="min-h-screen">
      
      <!-- SIDEBAR -->
      <aside class="fixed top-2 left-2 bottom-2 flex flex-col gap-2 w-[260px] rounded-2xl px-4 bg-white">
        <header class="flex items-center gap-3 h-[70px] pt-2.5 pb-1.5 border-b border-gray-100">
          <img [src]="logoSrc" alt="Logo" class="h-8 ml-0" />
          <span class="text-gray-900 pt-3.5 font-bold h-10 text-2xl">Smart<span>D</span>arna</span>
        </header>

        <ul class="list-none p-0 m-0 flex-1 overflow-y-auto">
          <li *ngFor="let item of sidebarItems">
            
            <button
              [class]="getButtonClass(item.id)"
              (click)="handleItemClick(item)"
            >
                <ion-icon [name]="item.icon" class="text-[20px]"></ion-icon>

              <span>{{ item.label }}</span>
              <ion-icon *ngIf="item.type === 'submenu'" [name]="'chevron-down-outline'" class="ml-auto text-[20px]"></ion-icon>
            </button>

            <!-- SUBMENU -->
            <div
              *ngIf="item.type === 'submenu'"
              class="overflow-hidden transition-[height] duration-500 ease-in-out"
              [style.height]="openSubmenu === item.id ? 'auto' : '0px'"
            >
              <ul class="pl-0">
                <li *ngFor="let child of item.children">
                  <button
                    [class]="getSubmenuButtonClass(child.id)"
                    (click)="handlePageClick(child.id)"
                  >
                    {{ child.label }}
                  </button>
                </li>
              </ul>
            </div>

          </li>
        </ul>

        <!-- SETTINGS ITEM - FIXED AT BOTTOM -->
        <ul class="list-none p-0 m-0 mt-auto">
          <li>
            <!-- SUBMENU - APPEARS ABOVE BUTTON -->
            <div
              *ngIf="settingsItem.type === 'submenu'"
              class="overflow-hidden transition-[height] duration-500 ease-in-out"
              [style.height]="openSubmenu === settingsItem.id ? 'auto' : '0px'"
            >
              <ul class="pl-0">
                <li *ngFor="let child of settingsItem.children">
                  <button
                    [class]="getSubmenuButtonClass(child.id)"
                    (click)="handlePageClick(child.id)"
                  >
                    {{ child.label }}
                  </button>
                </li>
              </ul>
            </div>

            <button
              [class]="getButtonClass(settingsItem.id)"
              (click)="handleItemClick(settingsItem)"
            >
              <ion-icon [name]="settingsItem.icon" class="text-[20px]"></ion-icon>
              <span>{{ settingsItem.label }}</span>
              <ion-icon *ngIf="settingsItem.type === 'submenu'" [name]="'chevron-up-outline'" class="ml-auto text-[20px]"></ion-icon>
            </button>
          </li>

          <!-- PROFILE ITEM -->
          <li class="pb-4">
            <button
              [class]="getButtonClass(profileItem.id)"
              (click)="handleItemClick(profileItem)"
            >
              <ion-icon [name]="profileItem.icon" class="text-[20px]"></ion-icon>
              <span>{{ profileItem.label }}</span>
            </button>
          </li>
        </ul>
      </aside>

    